@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: rgb(255, 255, 255);
}

.form-container {
    position: absolute ;
    top: 50% ;
    left: 50% ;
    width: 450px ;
    height: 450px ;
    transform: translate(-50%, -50%) ;
    border-radius: 15px ;
    box-shadow: 3px 3px 10px 0px #000 ;
    padding: 30px ;
}
.textJudul{
    font-family: 'Playfair Display', serif;
}

.textForm {

    font-family: 'Playfair Display', serif;
    font-size: 14px ;
}